.cover__subtitle {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  max-width: 460px;
  text-align: center;
  color: #ffffff;
  margin: 32px auto 0;
  padding: 0;
 }

@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    max-width: 90%;
    margin-top: 16px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px)  {
  .cover__subtitle {
    max-width: 90%;
    margin-top: 18px;
  }
}

/*до корректировок после ревьюера+ создала новый элемент ковер бекграунд*/
/*.cover__subtitle {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  max-width: 460px;
  text-align: center;
  color: #ffffff;
  margin: 32px auto 0;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    max-width: 90%;
    margin-top: 16px;
  }
}*/