.place__paragraph {
  grid-area: place__paragraph;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  height: min-content;
  margin: 0;
  padding: 48px 0 0 0;
 }



@media screen and (max-width: 425px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
    max-width: 100%;
    text-align: start;
    align-self: center;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
    max-width: 100%;
    align-self: flex-start;
    margin: 0 auto;
    padding-top: 40px;
  }
}
