.place {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, calc(100% - 40px) / 2);
  gap: 0 40px;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraph";
  box-sizing: border-box;
  margin: 0;
  padding-top: 80px;
  
}

.place:first-child {
  padding-top: 92px;
}

@media screen and (max-width: 425px) {
  .place {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
  }
  .place:first-child {
    padding-top: 60px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .place {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-top: 40px;
  }
  .place:first-child {
    padding-top: 60px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place {
    display: grid;
    width: 100%;
    padding-top: 10px;
    gap: 0 24px;
    align-self: flex-start;
  }
  .place:first-child {
    padding-top: 88px;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .place {
    max-width: 100%;
    padding-top: 66px;
    gap: 0 30px;
    }
  .place:first-child {
    padding-top: 88px;
  }
}





