.place {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, calc((100% - 40px) / 2));
  gap: 0 30px; /*было 0 40*/
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraph";
  box-sizing: border-box;
  margin: 0 auto; /*auto добавила, а до этого было просто маргин 0*/
  padding: 0;
}

.place:first-child {
  padding-top: 92px;
}
.place:nth-of-type(3) {
  padding-top: 10px;
}

@media screen and (max-width: 425px) {
  .place {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
  }
  .place:first-child {
    padding-top: 64px;
  }
  .place:last-child {
    padding-top: 45px;
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .place {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-top: 50px;
  }
  .place:first-child {
    padding-top: 64px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    width: 100%;
    padding-top: 23px;
    gap: 0 24px;
    align-self: flex-start;
  }
  .place:first-child {
    padding-top: 88px;
  }
  .place:nth-of-type(5) {
    padding-top: 30px;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    max-width: 100%;
    padding-top: 80px;
    gap: 0 30px;
    }
  .place:first-child {
    padding-top: 88px;
  }
  .place:nth-of-type(4) {
    padding-top: 80px;
  }
}


@media screen and (min-width: 1280px) {
   .place:nth-of-type(4) {
    padding-top: 77px;
  }
}


